*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #dee1fe;
    color: #000;
}
.container {
    width: 100%;
    margin: 0 auto;
}

nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F0F6FB ;
    padding: 15px;
    font-family: sans-serif;
}
nav .nav {
    width: 100%;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    list-style: none; /* to remove li dot */
    display: flex;
}
.navbar li {
    font-size: 1rem;
    margin: 10px;
    font-weight: 600; /* text thickness */
}
.navbutton {
    font-size: 1rem;
}
.navbutton button {
    padding: 10px;
    background-color: #000;
    color: #F0F6FB;
    border-radius: 5px;
    border: none;
}

.Juliannepic img {
    max-width: 100%;
    width: 50%;
}

.display {
    display: flex;
    padding: 5px;
}
.button-hireme {
    margin-right: 10px;
}

.introduction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 75%;
    padding: 50px 50px;
    font-family: sans-serif;
}
.intro-bg{
    background-color: #F0F6FB;
}
.intro {
    text-align: left;
    width: 100%;
    align-items: center;
    margin: auto;
    
}
.surname {
    color: rgb(228, 40, 71);
}
.Juliannepic{
    border-radius: 50%;

}
.button-cv button{
    background-color: white;
    color: #000;
    border: none;
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    
}
.button-hireme button {
    background: linear-gradient(purple,violet);
    color: #ffff;
    border: none;
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
    cursor: pointer;
}
.display {
    margin-top: 20px;
}
.intro h2{
    margin-bottom: 20px;
}
.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 75%;

}
.desc {
    text-align: left;
}
.picture-about img{
    width: 50%;
}
.selection {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 50%;
}

.Whatwedo{
    display: flex;
}